@keyframes drop {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100vh);
  }
}

@keyframes up {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes rotateRightIn {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(45deg);
  }
}

@keyframes rotateRightOut {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes rotateLeftIn {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-45deg);
  }
}

@keyframes rotateLeftOut {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes dropRightIn {
  0% {
    transform: translateY(0) rotate(0);
  }
  100% {
    transform: translateY(100vh) rotate(45deg);
  }
}

@keyframes dropRightOut {
  0% {
    transform: translateY(100vh) rotate(45deg);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

@keyframes dropLeftIn {
  0% {
    transform: translateY(0) rotate(0);
  }
  100% {
    transform: translateY(100vh) rotate(-45deg);
  }
}

@keyframes dropLeftOut {
  0% {
    transform: translateY(100vh) rotate(-45deg);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

#teste {
  animation: name duration timing-function delay iteration-count direction
    fill-mode;
}
